{% extends "jamendo/base.html" %}
{% load i18n pagination_tags %}

{% block head_title %}
    {% trans 'Artists List' %} - {{ block.super }}
{% endblock %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title='{% trans "jamendo browser" %} - Atom'
        href="/jamendo/feeds/artists/" />
{% endblock %}

{% block title %}<h2>{% trans 'Artist List' %}</h2>{% endblock %}

{% block subnav_active %}artists{% endblock %}

{% block body %}
    <form method="GET" action=".">
        <ul class="form">
            {{ form.as_ul }}
            <li>
                <input name="search" id="search" type="submit" value="{% trans 'go' %}" />
            </li>
        </ul>
    </form>
    {% if queryset %}
        {% autopaginate queryset ITEMS_PER_PAGE %}
        <ul class="artist list">
        {% for artist in queryset %}
            <li>{% include "jamendo/artists/detail.html" %}</li>
        {% endfor %}
        </ul>
        {% paginate %}
    {% else %}
        <p>{% trans 'There are no artists to show.' %}</p>
    {% endif %}
{% endblock %}
		