{% extends "jamendo/base.html" %}
{% load i18n pagination_tags %}

{% block head_title %}
    {% trans 'Cities List' %} - {{ block.super }}
{% endblock %}

{% block title %}<h2>{% trans 'City List' %}</h2>{% endblock %}

{% block subnav_active %}cities{% endblock %}

{% block body %}
    <form method="GET" action=".">
        <ul class="form">
            {{ form.as_ul }}
            <li>
                <input name="search" id="search" type="submit" value="{% trans 'go' %}" />
            </li>
        </ul>
    </form>
    {% if queryset %}
        {% autopaginate queryset ITEMS_PER_PAGE %}
        <ul>
        {% for city in queryset %}
            <li>{% include "jamendo/cities/detail.html" %}</li>
        {% endfor %}
        </ul>
        {% paginate %}
    {% else %}
        <p>{% trans 'There are no cities to show.' %}</p>
    {% endif %}
{% endblock %}
		