{% extends "jamendo/base.html" %}
{% load i18n pagination_tags %}

{% block head_title %}
    {{ instance.name }} - {{ block.super }}
{% endblock %}

{% block body %}
    <h3>{{ instance.name }}</h3>
    <ul>
        <li>
            <label>{% trans 'Web' %}</label>:
            <a href="{{ instance.url }}" title="{% trans 'View more about' %} {{ instance.name }}">
                {% trans 'link' %}
            </a>
        </li>
    </ul>
    <h4>{% trans 'Albums under this license' %}</h4>
    {% autopaginate albums 50 %}
    <ul>
    {% for album in albums %}
        <li>{% include "jamendo/albums/detail.html" %}</li>
    {% endfor %}
    </ul>
    {% paginate %}
{% endblock %}