{% load i18n %}
<div>
    <a title="{{ album.name }}" href="{% url jamendo_album album.pk %}">
        <img class="album image small" src="{{ MEDIA_URL }}albums/50x50/{{ album.uid }}.jpg" />
    </a>
    <a title="{{ album.name }}" href="{% url jamendo_album album.pk %}">{{ album.name }}</a>
    <p>({{ album.get_human_duration }}, {{ album.release_date.year }})</p>
</div>
<div class="detail listen">
    {% trans 'Listen' %}: <a href="{{ album.get_playlist_url }}" title="{% trans 'Listen in OGG format' %}">{% trans 'ogg' %}</a> <a href="{{ album.get_mp3_playlist_url }}" title="{% trans 'Listen in MP3 format' %}">{% trans 'mp3' %}</a>
</div>

