{% extends "jamendo/base.html" %}
{% load i18n %}

{% block head_title %}
    {{ instance.name }} - {{ instance.artist.name }} - {{ block.super }}
{% endblock %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title='{% trans "jamendo browser" %} - Atom'
        href="/jamendo/feeds/albumsfor/{{ instance.artist.pk }}/" />
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <h3>{{ instance.name }}</h3> {% trans 'by' %}
    <h4 class="artist">
        <a href="{% url jamendo_artist instance.artist.pk %}" title="{{ instance.artist.name }}">
            {{ instance.artist.name }}
        </a>
    </h4>
    <img src="{{ MEDIA_URL }}albums/{{ instance.uid }}.jpg" title="{{ instance.name }}"/>
    <div class="album player">
        {% trans 'Listen' %}
        <a href="{{ instance.get_playlist_url }}" title="{% trans 'Listen in OGG format' %}">
            {% trans 'OGG stream' %}
        </a>
        <a href="{{ instance.get_mp3_playlist_url }}" title="{% trans 'Listen in MP3 format' %}">
            {% trans 'MP3 stream' %}
        </a>
    </div>
    <ul class="album detail">
        {% if instance.mbguid %}
            <li>
                <label>{% trans 'Album page at MusicBrainz' %}:</label>
                <a href="{% url jamendo_album_mbguid instance.mbguid %}" title="{% trans 'Album page at MusicBrainz' %}">
                    {% trans 'link' %}
                </a>
            </li>
        {% endif %}
        <li>
            <label>{% trans 'Page at Jamendo' %}:</label>
            <a href="{{ instance.url }}" title="{% trans 'Page at Jamendo' %}">
                {% trans 'link' %}
            </a>
        </li>
        <li>
            <label>{% trans 'Release Date' %}:</label>
            {{ instance.release_date.year }}
        </li>
        <li>
            <label>{% trans 'Duration' %}:</label>
            {{ instance.get_human_duration }}
        </li>
        {% if instance.genre %}
            <li>
                <label>{% trans 'Genre' %}:</label>
                {{ instance.genre.name }}
            </li>
        {% endif %}
        <li>
            <label>{% trans 'License' %}:</label>
            <a href="{% url jamendo_license instance.license.pk %}" title="{{ instance.license.name }}">
                {{ instance.license.name }}
            </a>
        </li>
        {% if instance.get_tags %}
            <h4 class="tags">{% trans 'tags' %}:</h4>
            <ul class="tags list">
            {% for tag in instance.get_tags %}
                <li>
                    <a href="{% url jamendo_tag tag.name %}" title="{{ tag.name }}">{{ tag.name }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if instance.track_set.all %}
        <li>
            <h4>{% trans "Tracks" %}</h4>
            <ul class="tracks list">
                {% for track in instance.track_set.all %}
                <li>
                    <span>{{ forloop.counter|stringformat:"02d" }} - </span>{% include "jamendo/tracks/detail.html" %}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        <li>
            <label>{% trans 'Total' %}:</label>
            {{ instance.track_count }}
        </li>
    </ul>

{% endblock %}